

<div class="jumbotron">
  <h1>Gryppers Yo!</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>


<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="<%= asset_path( 'brasil.jpg' ) %>" alt="">
        <div class="overlay">
           <h2>Gryppers Life</h2>
           <a class="info" href="#">Purchase!</a>
        </div>
    </div>
    <div class="well well-lg">
      <p style="font-weight: bold;">Text and Stuff!!</p>
      <p>more text, less bold!</p>
    </div>
</div>

<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path( 'brasil.jpg' ) %>" alt="">
        <div class="overlay">
           <h2>Gryppers Life</h2>
           <a class="info" href="#">Purchase!</a>
        </div>
    </div>
    <div class="well well-lg">
      <p style="font-weight: bold;">Text and Stuff!!</p>
      <p>more text, less bold!</p>
    </div>
</div>


<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
</div>



<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path( 'gryppy.jpg' ) %>" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
    <div class="well well-lg">
      Grypper Style 1
      <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
    </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path( 'gryppy.jpg' ) %>" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
    <div class="well well-lg">
      Grypper Style 1
      <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
    </div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="<%= asset_path( 'gryppy.jpg' ) %>" alt="">
            <div class="overlay">
                <h2>Effect 12</h2>
				<p>
					<a href="#">LINK HERE</a>
				</p>
            </div>
    </div>
    <div class="well well-lg">
      Grypper Style 1
      <a href="#" class="btn btn-default btn-lg btn-block">Block level button</a>
    </div>
</div>
