<body>



          <%@cart.cart_items.where(purchased: nil, receipt_id: nil).each do |cart_item| %>
            <ul class="cart-item-container">
              <li><span>Name:<%= cart_item.design_name %></span></li>
            <li><span>price: $<%= cart_item.price %>0</span></li>
            <li><span>quantity:<%= cart_item.quantity %></span></li>

            <% if cart_item.fabric_type == "1" %>
              <% size = "Small" %>
            <% elsif cart_item.fabric_type == "2" %>
              <% size = "Medium" %>
            <% elsif cart_item.fabric_type == "3" %>
              <% size = "Large" %>
            <% elsif cart_item.fabric_type == "4" %>
              <% size = "Extra Large"%>
            <% end %>
            <li><span>Size: <%= size %></span></li>
          </ul>

          <% end %>

          Total: &nbsp; <%= number_to_currency(@amount, :unit => "$")  %>

      </article>
      <br>






        <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal">
        Shipping Address</button>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Shipping Address</h4>
            </div>
                <%= render partial: 'shipping_form', locals: {shipping: @shipping} %>
          </div>
        </div>
      </div>




      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Gryppers Order Total"
              data-amount="<%= @amount * 100 %>"
              data-locale="auto"
              data-billingAddress="true">

      </script>




      <div class="checkout-amount">
        <%= form_tag charges_path do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
            <label class="amount">
            </label>
    <% end %>
  </div>
</body>
